{
    "root": true,
    "rules": {
        "indent": [
            2,
            4
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "vars-on-top": 0,
        "func-names": 0,
        "no-param-reassign": 1,
        "strict": [2, "global"],
        "spaced-comment": [0, "always"],
        "no-param-reassign": [1, {"props": true}],
        "no-console": 2,
        "no-shadow": [0, {
            "builtinGlobals": true,
            "hoist": "all",
            "allow": ["callback"],
        }],
        "dot-notation": 1,
        "no-extra-parens": 1,
        "object-curly-spacing": [2, "never"],
        "space-before-function-paren": [2, {
            "anonymous": "never",
            "named": "never",
        }],
        "no-bitwise": 2,
        "no-else-return": 0,
        "no-multi-str": 0,
    },
    "env": {
        "node": true
    },
    "globals": {
        include: false
    },
    "extends": "airbnb/legacy"
}
